.me-auto {
  position: absolute;
  margin-left: 700px;
}

.footer {
  position: absolute;
  bottom: -1500px;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

#logout {
  position: absolute;
  margin-top: -18px;

}